.footer, .editfooter{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background:#1a2027;
	-webkit-box-shadow: 0 -1px 30px 3px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 -1px 30px 3px rgba(0,0,0,0.6);
	box-shadow: 0 -1px 30px 3px rgba(0,0,0,0.6);
	z-index: 99999;
}

.footer>div, .editfooter>div{
	float: left;
	text-align: center;	
}
.footer>div{
	width: 25%;
}
.editfooter>div{
	width: 50%;
}
.footer>div div, .editfooter>div div{	
	line-height: 40px;
    height: 40px;
	font-size: 14px;
	border-top:1px solid #2E3741;
    color: #7A8593;
}
.footer > div > a{
	display: block;
	border-top:1px solid #2E3741;
	line-height: 40px;
    height: 40px;
	font-size: 14px;
	text-decoration: none;
    color: #7A8593;
}
@media screen and (max-width:480px) {
    .footer>div div, .editfooter>div div, .footer > div > a {
        line-height: initial;
        height: 50px;
    }
}
.footer>div div.selected, .editfooter>div div.selected, .footer > div a.selected{	
	border-top: 1px solid #2E88CE;
    background-color: #2A84CA;
    -webkit-box-shadow: inset 1px 1px 30px rgba(0,0,0,0.6);
    -moz-box-shadow: inset 1px 1px 30px rgba(0,0,0,0.6);
    box-shadow: inset 1px 1px 30px rgba(0,0,0,0.6);
    color: #fff;
}
.data-list{
	/*overflow: hidden;*/
	/*display: -webkit-box;
	display: -moz-box;*/
	width:100%;

}
.zixuan span.icon,.zhzx span.icon,.market span.icon,.trade span.icon {
	background: url("../img/icons.png") no-repeat scroll 0px -141px rgba(0, 0, 0, 0);
    background-size:91px;
	width: 24px;
	height: 30px;
	display: inline-block;
	vertical-align: top;
}	
@media screen and (max-width:480px) {
    .zixuan span.bt,.zhzx span.bt,.market span.bt,.trade span.bt {
	    height: 20px;
        line-height:20px;
	    display: block;
    }	
}
.zixuan span.icon {
	background-position: 0px -20px;
}
.selected.zixuan span.icon{
	background-position: -33px -20px;
}
.zhzx span.icon {
    width: 19.5px;
	background-position: 0px -79px;
}
.selected.zhzx span.icon{
    width: 19.5px;
	background-position: -33px -79px;
}
.market span.icon {
	background-position: 0px -50px;
}
.selected.market span.icon{
	background-position: -33px -50px;
}
.trade span.icon {
    width: 28px;
	background-position: 0px -129px;
}
.selected.trade span.icon{
    width: 28px;
	background-position: -33px -129px;
}