* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
    -webkit-focus-ring-color: rgba(0,0,0,0) !important;
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
    outline: none;
    font-family: '微软雅黑';
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    /*font-size: 100%;*/
}

body {
    text-align: center;
    background: #C6211B;
    padding: 0px;
    margin: 0px;
}

.body {
    height: auto;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

.rel {
position: relative;
}
.pad-left40 {
padding-left: 40px;
}
.logo-container img {
    max-width: 100%;
}

.logo-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    background: #e5e5e5;
    background: -webkit-gradient(linear,0 0, 0 100%, from(#FFFFFF), to(#e5e5e5));
    background: -webkit-linear-gradient(top, #FFFFFF, #e5e5e5);
    background: -moz-linear-gradient(top, #FFFFFF, #e5e5e5);
    background: -ms-linear-gradient(top, #FFFFFF, #e5e5e5);
    background: -o-linear-gradient(top, #FFFFFF, #e5e5e5);
    background-: linear-gradient(top, #FFFFFF, #e5e5e5);
}

.logo-container-img {
    margin: 0 auto;
    width: 150px;
    height: 50px;
    background-size: 150px 50px;
    background-image: url(../../img/logo_01.png);
}

.form {
    height: 100%;
    top: 0px;
    padding: 10px;
    background: -moz-linear-gradient(0% 0% 270deg, rgb(243, 101, 63), rgb(198, 33, 27)) repeat scroll 0% 0% transparent;
    height: 100%;
    top: 0px;
    padding: 35px;
    padding-top: 35px;
    background: #D24327;
    background: -webkit-gradient(linear,0 0, 0 100%, from(#F3653F), to(#C6211B));
    background: -webkit-linear-gradient(0% 0% 270deg, #F3653F,#C6211B);
    background: -ms-linear-gradient(0% 0% 270deg, #F3653F,#C6211B);
    background: -o-linear-gradient(0% 0% 270deg, #F3653F,#C6211B);
    background-: linear-gradient(0% 0% 270deg, #F3653F,#C6211B);
    -moz-box-shadow: inset 0px 2px 5px #D24327;
    -webkit-box-shadow: inset -0px 2px 5px #D24327;
    box-shadow: 0px 2px 5px rgb(210, 67, 39) inset;
}


label, .justify {
    float: left;
    height: 28px;
    line-height: 28px;
    width: 74px;
    text-align: justify;
    text-justify: distribute-all-lines; /*ie6-8*/
    text-align-last: justify; /* ie9*/
    -moz-text-align-last: justify; /*ff*/
    -webkit-text-align-last: justify; /*chrome 20+*/
    margin: 2px 10px 0 0;
}

input[type='text'], input[type='password'], input[type='search'], input[type='url'], input[type='telephone'], input[type='email'], input[type='date'], input[type='range'], input[type='number'], input[type='tel'] {
    width: 100%;
    margin: 0;
    height: 40px;
    padding: 1px 3px 1px 40px;
    font-size: 17px;
    border: 1px solid #D6D6D6;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    position: relative;
    z-index: 5;
    -moz-box-shadow: inset 0px 2px 5px #eee;
    -webkit-box-shadow: inset -0px 2px 5px #eee;
    box-shadow: inset 0px 2px 5px #eee;
}


input.account {
    background: url(../../img/input-icon.png) no-repeat 5px -195px #ffffff;
    background-size: 25px 450px;
}

input.pass {
    background: url(../../img/input-icon.png) no-repeat scroll 8px -95px #ffffff;
    background-size: 25px 450px;
}

input.captcha {
    background: url(../../img/input-icon.png) no-repeat scroll 8px -390px #ffffff;
    background-size: 25px 450px;
}

input::-webkit-input-placeholder {
    color: #8999A8;
}

input::-moz-placeholder {
    color: #8999A8;
}

.text-input {
    left: 82px;
    position: absolute;
    right: 10px;
}

.text-input > input {
    width: 100%;
}

.text-input > select {
    border: none;
    width: 100%;
    font-size: 18px;
    margin: 0px;
    vertical-align: middle;
    height: 24px;
}

.button {
    height: 40px;
    display: inline-block;
    width: 100%;
    min-width: 230px;
    z-index: 5;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /**text-shadow: rgba(0,0,0,.4) 0 0px 0;*/
    color: #ffffff;
    font-size: 20px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
}

.orange:active {
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
}

.button.orange:active {
    -webkit-box-shadow: 0px 3px 2px 0px #ea7f00;
    -moz-box-shadow: 0px 3px 2px 0px #ea7f00;
    -o-box-shadow: 0px 3px 2px 0px #ea7f00;
    box-shadow: 0px 3px 2px 0px #ea7f00;
}

.button.orange {
    color: #c62118 !important;
    background: #fac200;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(ffe92e), to(#fac200));
    background: -webkit-linear-gradient(#ffe92e, #fac200);
    background: -moz-linear-gradient( #ffe92e,#fac200);
    background: -o-linear-gradient(#ffe92e, #fac200);
    background: linear-gradient(#ffe92e, #fac200);
    -webkit-box-shadow: 0 5px 3px 0px #ea7f00;
    -moz-box-shadow: 0 5px 3px 0px #ea7f00;
    -o-box-shadow: 0 5px 3px 0px #ea7f00;
    box-shadow: 0 5px 3px #ea7f00;
}


.button.red {
    color: #ffffff;
    background: #e55124;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#e55124), to(#c7221b));
    background: -webkit-linear-gradient(#e55124, #c7221b);
    background: -moz-linear-gradient( #e55124,#c7221b);
    background: -o-linear-gradient(#e55124, #c7221b);
    background: linear-gradient(#e55124, #c7221b);
    -webkit-box-shadow: 0 5px 3px 0px #a8120b;
    -moz-box-shadow: 0 5px 3px 0px #a8120b;
    -o-box-shadow: 0 5px 3px 0px #a8120b;
    box-shadow: 0 5px 3px 0px #a8120b;
}

.button.red:active {
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
    -webkit-box-shadow: 0px 3px 2px 0px #a8120b;
    -moz-box-shadow: 0px 3px 2px 0px#a8120b;
    -o-box-shadow: 0px 3px 2px 0px #a8120b;
    box-shadow: 0px 3px 2px 0px #a8120b;
}


.button.gray {
    background: #eaeaea;
    color: #666666;
    border: 1px solid #bbbbbb;
    background: #ebebeb;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eaeaea));
    background: -webkit-linear-gradient(#ffffff, #eaeaea);
    background: -moz-linear-gradient( #ffffff,#eaeaea);
    background: -o-linear-gradient(#ffffff, #eaeaea);
    background: linear-gradient(#ffffff, #eaeaea);
    -webkit-box-shadow: 0px 5px 3px 0px #bcbcbc;
    -moz-box-shadow: 0px 5px 3px 0px #bcbcbc;
    -o-box-shadow: 0px 5px 3px 0px #bcbcbc;
    box-shadow: 0px 5px 3px 0px #bcbcbc;
}

.button.gray:active {
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
    -webkit-box-shadow: 0px 3px 2px 0px #bcbcbc;
    -moz-box-shadow: 0px 3px 2px 0px #bcbcbc;
    -o-box-shadow: 0px 3px 2px 0px #bcbcbc;
    box-shadow: 0px 3px 2px 0px #bcbcbc;
}

.row {
    font-size: 16px;
    color: #303030;
    padding: 3px 0px;
    z-index: 3;
    min-width: 200px;
    width: 100%;
    margin: 0px auto;
}

.captchaContainer {
    position: relative;
    height:40px;
}

.captchaContainer .inner {
    position: absolute;
    left: 0;
    right: 100px;
}

.captchaimg {
    position: absolute;
    right: 0px;
    left: auto;
    top: auto;
    bottom: auto;
    margin: auto;
    z-index: 999;
    height: 40px;
    width: 90px;
    min-width: 90px;
}

.validcode {
    width:100%;
    height:100%;
}

input::-webkit-input-placeholder { /* WebKit browsers */
    color: #dddddd;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #dddddd;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #dddddd;
}

input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #dddddd;
}

.blank {
    padding: 3px;
}


.select-def {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    width: 100%;
    height: 40px;
    font-size: 17px;
    padding: 1px 3px 1px 36px;
    border: 1px solid #D6D6D6;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    -moz-box-shadow: inset 0px 2px 5px #eee;
    -webkit-box-shadow: inset -0px 2px 5px #eee;
    box-shadow: inset 0px 2px 5px #eee;
    /*text-indent: 5px;
    text-overflow: "";*/
}

.row-select {
    position: relative;
    height: 40px;
    line-height: 40px;
}

.select-right:before {
    content: '';
    display: block;
    height: 60%;
    top: 20%;
    width: 1px;
    background: #ECECEC;
    position: absolute;
    right: 36px;
    z-index: 999;
}
.select-right:after {
    content: '';
    display: block;
    top: 50%;
    margin-top: -3.75px;
    position: absolute;
    right: 12px;
    border-top: 11.5px solid #8A8A8A;
    border-left: 7.5px solid rgba(0,0,0,0);
    border-right: 7.5px solid rgba(0,0,0,0);
    width: 0;
    height: 0;
    z-index: 999;
}

.button {
    height: 40px;
    display: inline-block;
    width: 100%;
    min-width: 230px;
    z-index: 5;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /**text-shadow: rgba(0,0,0,.4) 0 0px 0;*/
    color: #ffffff;
    font-size: 20px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
}

.row-select img.prefix {
    position: absolute;
    left: 8px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    z-index: 999;
}

.button.red {
    color: #ffffff !important;
    background: #e55124;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#e55124), to(#c7221b));
    background: -webkit-linear-gradient(#e55124, #c7221b);
    background: -moz-linear-gradient( #e55124,#c7221b);
    background: -o-linear-gradient(#e55124, #c7221b);
    background: linear-gradient(#e55124, #c7221b);
    -webkit-box-shadow: 0 5px 3px 0px #a8120b;
    -moz-box-shadow: 0 5px 3px 0px #a8120b;
    -o-box-shadow: 0 5px 3px 0px #a8120b;
    box-shadow: 0 5px 3px 0px #a8120b;
}

.button.red:active {
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
    -webkit-box-shadow: 0px 3px 2px 0px #a8120b;
    -moz-box-shadow: 0px 3px 2px 0px#a8120b;
    -o-box-shadow: 0px 3px 2px 0px #a8120b;
    box-shadow: 0px 3px 2px 0px #a8120b;
}

.alertMsg .shadowDiv {
    margin: 0px auto;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 10000;
    background: none repeat scroll 0% 0% #000;
    width: 100%;
    height: 100%;
    opacity: 0.65;
}

.alertMsg .msgwin {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #eeeeee;
    z-index: 10001;
    position: fixed;
    width: 300px;
    height: 300px;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
}

.alertMsg .msgwin .msgwin_img {
    margin: 30px auto 10px auto;
    width: 63px;
    height: 63px;
}

.alertMsg .msgwin .msgwin_img.ok {
    background: url(../../img/tips.png) no-repeat scroll -1px 0px transparent;
    background-size: 130px 63px;
}

.alertMsg .msgwin .msgwin_img.warn {
    background: url(../../img/tips.png) no-repeat scroll -69px 0px transparent;
    background-size: 130px 63px;
}

.alertMsg .msgwin p {
    margin-bottom: 10px;
}

.alertMsg .msgwin .msgwin_title {
    padding: 2px 15px;
    line-height: 1.6em;
    text-align: left;
    color: #444444;
    text-align: center;
    font-size: 24px;
}

.alertMsg .msgwin .msgwin_info {
    padding-left: 3px;
    color: #000000;
    font-size: 15px;
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
    color: #777777;
    text-align: center;
    max-height: 70px;
    width: 100%;
    overfloat: hidden;
    margin-bottom: 10px;
}

.alertMsg .msgwin .msgwin_btn {
    width: 230px;
    margin: 0px auto;
}

.alertMsg .msgwin p {
    overflow: visible;
    white-space: normal;
    text-overflow: ellipsis;
}
